<img src="escuela-de-economia.png" width="260" height="60">
<center>
    <b>EC4301 MACROECONOMETRÍA</b><br>
    <b>Profesor:  Randall Romero Aguilar, PhD</b>
<br><br>
<b>Laboratorio:</b>
<div style="font-size:175%;color:white; background-color: #0064b0;">Tema 1: Introducción a series de tiempo</div>
<div style="font-size:250%;color:white; background-color: #0064b0;">Aplicando el operador de rezagos a datos ficticios</div> 
</center>
<i>Creado:     2020-Ene-16 
    <br>
    Actualizado: 2020-Ago-25</i>

Ejemplo numérico para ilustrar el uso de los operadores de rezago, diferencia, y diferencia estacional.


Este cuaderno genera un cuadro incluido en **Handout-01--Introduccion.pdf**

In [1]:
import pandas as pd

* Leer una serie de tiempo ficticia de data\LandD.csv y mostrarlos

In [2]:
datos = pd.read_csv("data/LandD.csv", index_col=0, parse_dates=True)
datos.columns

Index(['y'], dtype='object')

* Operador de rezagos

In [3]:
datos['Lag_y'] = datos['y'].shift(1)
datos['Lag2_y'] = datos['y'].shift(2)

* Operador de diferencias
\begin{align}
\Delta y_t &= (1-L)y_t = y_t - y_{t-1} \\
\Delta^2 y_t &= (1-L)^2y_t = y_t - 2y_{t-1} + y_{t-2}
\end{align}

In [4]:
datos['D_y'] = datos.y.diff()
datos['D2_y'] = datos.y.diff(1).diff(1)

* Operador de diferencia estacional

\begin{equation}
\Delta_4 y_t = (1-L^4)y_t = y_t - y_{t-4}
\end{equation}

In [5]:
datos['S_y'] = datos.y.diff(4)

* Mostrar los resultados

In [6]:
datos

             y  Lag_y  Lag2_y  D_y  D2_y  S_y
trimestre
2018-01-01  10    NaN     NaN  NaN   NaN  NaN
2018-04-01  13   10.0     NaN  3.0   NaN  NaN
2018-07-01  10   13.0    10.0 -3.0  -6.0  NaN
2018-10-01   8   10.0    13.0 -2.0   1.0  NaN
2019-01-01  15    8.0    10.0  7.0   9.0  5.0
2019-04-01  16   15.0     8.0  1.0  -6.0  3.0
2019-07-01  14   16.0    15.0 -2.0  -3.0  4.0
2019-10-01  11   14.0    16.0 -3.0  -1.0  3.0

Nótese que a pesar de que la serie original está en números enteros, las demás están en floats (dependiendo de su versión de pandas). Esto se debe a que versiones de Pandas anteriores a la 1.0 no tienen un valor para datos faltantes (NaN) para números enteros.